<ng-template #customTableItemTemplate let-data="data">
  <a [attr.href]="data.link">{{ data.name }} {{ data.surname }}</a>
</ng-template>
<ng-template #customHeaderTemplate let-data="data">
  <i
    ><a [attr.href]="data.link">{{ data.name }}</a></i
  >
</ng-template>
<ibm-table
  [model]="model"
  [size]="size"
  [sortable]="sortable"
  [showSelectionColumn]="showSelectionColumn"
  [stickyHeader]="stickyHeader"
  [skeleton]="skeleton"
  [striped]="false"
  (sort)="customSort($event)"
  (rowClick)="onRowClick($event)"
  [isDataGrid]="isDataGrid"
>
</ibm-table>
<ng-template #statusToggle let-data="data">
  <ibm-toggle
    class="app-ibm-toggle-fix"
    [onText]="'Block'"
    [offText]="'Unblock'"
    [checked]="data.status"
    size="md"
    (change)="StatusToggleChange($event, data.id)"
  >
  </ibm-toggle>
</ng-template>
<!-- <ng-template #displayImage let-data="data">
  <img [src]="env.profileApiUrl + data.image" *ngIf="data.image else avatar"/>
  <ng-template #avatar>
    <ngx-avatar name="John Doe"></ngx-avatar>
  </ng-template>
</ng-template> -->
<ng-template #displayImage let-data="data">
  <img [src]="env.profileApiUrl + data.image" *ngIf="data.image" height="200px" width="200px"/>
</ng-template>
<ng-template #avatar>
  <ngx-avatar *ngIf="!data.image" name="John Doe"></ngx-avatar>
</ng-template>
