a {
  color: black;
  // align-items: flex-end;
}
img.ng-star-inserted {
  height: 4rem;
  width: 4rem;
  border-radius: 51px;
  /* line-height: 10; */
  /* margin-bottom: 16px; */
  margin-top: -12px;
}