<form [formGroup]="formGroup" class="app-form">
  <div fxLayout="row wrap" class="app-form__row">

    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('name')"
        >
          Name
          <input
            type="text"
            formControlName="name"
            [invalid]="isValid('name')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('description')"
        >
          Description
          <input
            type="text"
            formControlName="description"
            [invalid]="isValid('description')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <!-- <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-dropdown
          [label]="'Country'"
          formControlName="country"
          size="md"
          [invalid]="isValid('country')"
          [invalidText]="'This field is required or incorrect'"
          dropUp="false"
          [theme]="theme"
          placeholder=""
        >
          <ibm-dropdown-list [items]="countries"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-dropdown
          [label]="'State or province'"
          formControlName="state"
          size="md"
          [invalid]="isValid('state')"
          [invalidText]="'This field is required or incorrect'"
          dropUp="false"
          [theme]="theme"
          placeholder=""
        >
          <ibm-dropdown-list [items]="usStates"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
    </div> -->
  </div>

  <div fxLayout="row wrap" class="app-form__row">
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(25)" class="app-form__item">
      <div class="app-input">
        <ibm-label [invalid]="isValid('price')">
          Price
          <input
            type="text"
            formControlName="price"
            [invalid]="isValid('price')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(25)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('discount')"
        >
          Discount
          <input
            formControlName="discount"
            [invalid]="isValid('discount')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('material')"
        >
          Material
          <input
            formControlName="material"
            [invalid]="isValid('material')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('care')"
        >
          Care
          <input
            type="text"
            formControlName="care"
            [invalid]="isValid('care')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-dropdown
          [label]="'Size'"
          formControlName="size"
          size="md"
          [invalid]="isValid('size')"
          [invalidText]="'This field is required or incorrect'"
          dropUp="false"
          [theme]="theme"
          placeholder=""
        >
          <ibm-dropdown-list [items]="countries"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('modelHeight')"
        >
          Model Height
          <input
            type="text"
            formControlName="modelHeight"
            [invalid]="isValid('modelHeight')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-dropdown
          [label]="'Model Size'"
          formControlName="modelSize"
          size="md"
          [invalid]="isValid('modelSize')"
          [invalidText]="'This field is required or incorrect'"
          dropUp="false"
          [theme]="theme"
          placeholder=""
        >
          <ibm-dropdown-list [items]="countries"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('date')"
        >
          Date
          <input
            formControlName="date"
            [invalid]="isValid('date')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(25)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('color')"
        >
          Color
          <input
            formControlName="color"
            [invalid]="isValid('color')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(25)" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('quantity')"
        >
          Quantity
          <input
            type="text"
            formControlName="quantity"
            [invalid]="isValid('quantity')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="''"
            [autocomplete]="false"
          />
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-dropdown
          [label]="'Category'"
          formControlName="category"
          size="md"
          [invalid]="isValid('category')"
          [invalidText]="'This field is required or incorrect'"
          dropUp="false"
          [theme]="theme"
          placeholder=""
        >
          <ibm-dropdown-list [items]="countries"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <ibm-dropdown
          [label]="'product_collection'"
          formControlName="product_collection"
          size="md"
          [invalid]="isValid('product_collection')"
          [invalidText]="'This field is required or incorrect'"
          dropUp="false"
          [theme]="theme"
          placeholder=""
        >
          <ibm-dropdown-list [items]="countries"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
    </div>
    <div fxFlex="100%" class="app-form__item">
      <div class="app-input">
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('images')"
        >
          <ibm-file-uploader
            drop="true"
            [dropText]="'Drag and drop files here or upload'"
            [title]="'File uploader'"
            [description]="'only jpg, png'"
            [buttonText]="'Add files'"
            [buttonType]="'primary'"
            [accept]="'.png,image/jpeg'"
            [multiple]="true"
            [size]="'normal'"
            [disabled]="false"
          >
          </ibm-file-uploader>
        </ibm-label>
      </div>
    </div>
  </div>
</form>
